In [23]:
%matplotlib inline
import pandas as pd
import re
from itertools import permutations
from pulp import *
import numpy as np
import random
from random import choice

from itertools import chain


import matplotlib.pyplot as plt
import scipy.stats as stats

# Always make it pretty.
plt.style.use('ggplot')

In [2]:
#base = pd.read_csv("combined_data/combined_database_pool.csv")
base2 = pd.read_csv('Fantasy_proj/filtered_13.csv')

In [3]:
base2

                  Name  Pos  DK points  DK salary
0          Carr, Derek   QB      35.74       5800
1          Allen, Josh   QB      34.10       7100
2      Mayfield, Baker   QB      33.46       5300
3      Tannehill, Ryan   QB      31.56       6200
4    Stafford, Matthew   QB      30.08       5700
..                 ...  ...        ...        ...
280            Arizona  Def       2.00       2900
281             Denver  Def       1.00       1900
282             Dallas  Def       1.00          0
283          Tennessee  Def      -2.00       2900
284        LA Chargers  Def      -3.00       2600

[285 rows x 4 columns]

In [5]:
#dropping useless column
#one =base.drop('Game Info', axis =1)

In [7]:
#dropping useless column
#two = one.drop('Unnamed: 0', axis =1)

In [8]:
#dropping useless column
#three= two.drop('TeamAbbrev', axis=1)

In [9]:
#dropping useless column
#four = three.drop('Name + ID', axis=1)

In [10]:

#player_arr = four.to_numpy()

# creating new dfs for players only of same position 
## Mental note... Make function where we can drop by column names in the future

In [11]:
# qbs= four[four.Position == 'QB']
# rbs= four[four.Position == 'RB'].drop('ID', axis =1)
# wrs= four[four.Position == 'WR'].drop('ID', axis =1)
# tes= four[four.Position == 'TE'].drop('ID', axis =1)
# #flex= four[four.Position == 'WR'].drop('ID', axis =1)

# #flex = four[four.Position == 'WR' or four[four.Position == 'Rb']
            
# flex = four[(four.Position == 'WR') | (four.Position == 'RB')]
# defs = four[four.Position == 'DST'].drop('ID', axis =1)

# qbs = qbs.drop('ID', axis = 1)

# #had to drop ID off Flex DB again
# flex_no_id =flex.drop('ID', axis =1)


# code above is using another DF 


qbs= base2[base2.Pos == 'QB']
rbs= base2[base2.Pos == 'RB']
wrs= base2[base2.Pos == 'WR']
tes= base2[base2.Pos == 'TE']
flex = base2[(base2.Pos == 'WR') | (base2.Pos == 'RB')]
defs = base2[base2.Pos == 'Def']


#creating top 5 df for each position sorted by salary


rb_sorted = rbs.sort_values('DK salary', ascending = False ).reset_index(drop=True)

wr_sorted = wrs.sort_values('DK salary', ascending = False ).reset_index(drop=True)

te_sorted = tes.sort_values('DK salary', ascending = False ).reset_index(drop=True)

qbs_sorted = qbs.sort_values('DK salary', ascending = False ).reset_index(drop=True)



defs

              Name  Pos  DK points  DK salary
255    New England  Def       31.0       2400
256   Jacksonville  Def       14.0       2000
257          Miami  Def       14.0       4400
258      Minnesota  Def       13.0       3500
259     New York G  Def       13.0       2200
260   Indianapolis  Def       12.0       3000
261        LA Rams  Def       11.0       3200
262      Green Bay  Def       10.0       3800
263        Seattle  Def        9.0       3300
264      Las Vegas  Def        8.0       3400
265   Philadelphia  Def        7.0       2300
266    New Orleans  Def        6.0       3600
267     New York J  Def        5.0       2100
268        Detroit  Def        5.0       2500
269      Cleveland  Def        5.0       2500
270    Kansas City  Def        5.0       3700
271        Buffalo  Def        4.0       2700
272        Atlanta  Def        4.0       2400
273      Baltimore  Def        4.0          0
274     Cincinnati  Def        3.0       2300
275        Houston  Def        3.0       2800
276        Chicago  Def        3.0       3100
277     Washington  Def        3.0       2700
278     Pittsburgh  Def        3.0       4300
279  San Francisco  Def        2.0       2500
280        Arizona  Def        2.0       2900
281         Denver  Def        1.0       1900
282         Dallas  Def        1.0          0
283      Tennessee  Def       -2.0       2900
284    LA Chargers  Def       -3.0       2600

# creating df of only top 5 to be turned into a np array later

In [12]:
top_rb = rb_sorted.loc[0:4]
top_qb = qbs_sorted.loc[0:4]
top_wr = wr_sorted.loc[0:4]
top_te = te_sorted.loc[0:4]

# Converting each df of specific player positions into numpy arrays

In [52]:
#creating numpy arrays of each type of player to randomly generate teams inside of  function.

#regular df all players for that position
# qbs
# rbs 
# wrs 
# tes
# flex 
#defs


#top 5 player dfs 

# top_rb 
# top_qb 
# top_wr 
# top_te 


#converting top 5 dfs into numpy array
qb_top_arr = top_qb .to_numpy()
wr_top_arr = top_wr.to_numpy()
rb_top_arr = top_rb.to_numpy()
te_top_arr = top_te.to_numpy()


# above is for referencing df name to convert to numpy

qb_arr = qbs.to_numpy()
wr_arr = wrs.to_numpy()
rb_arr = rbs.to_numpy()
te_arr = tes.to_numpy()
flex_arr =flex.to_numpy()
def_array = defs.to_numpy()

In [97]:
#Function that generates a random team of daily fantasy football players.... duplicate teams not considered
#It is very unlikely to generate two of the exact same team.

def team_generator(qb, wr, rb, flex, te, defense):
    team_list = []
    
    
    
    #Targeting the rows of player information from each array
    qb_rows = qb.shape[0]
    random_indices = np.random.choice(qb_rows, size=1, replace=False)
    qb_rows = qb[random_indices, :]
    
    wr_rows = wr.shape[0]
    random_indices = np.random.choice(wr_rows, size=3, replace=False)
    wr_rows = wr[random_indices, :]
    
    
    rb_rows = rb.shape[0]
    random_indices = np.random.choice(rb_rows, size=2, replace=False)
    rb_rows = rb[random_indices, :]
    
    flex_rows = flex.shape[0]
    random_indices = np.random.choice(flex_rows, size=1, replace=False)
    flex_rows = flex[random_indices, :]
    
    te_rows = te.shape[0]
    random_indices = np.random.choice(te_rows, size=1, replace=False)
    te_rows = te[random_indices, :]
    
    def_rows = defense.shape[0]
    random_indices = np.random.choice(def_rows, size=1, replace=False)
    def_rows = defense[random_indices, :]
    
    
    
    # appending each row to team list for player position
    team_list.append(qb_rows)
    team_list.append(wr_rows)
    team_list.append(rb_rows)
    team_list.append(flex_rows)
    team_list.append(te_rows)
    team_list.append(def_rows)
    
    #unpacking team list for nested lists
    unpack_team = list(chain.from_iterable(team_list))
    
    un_pack_pd = pd.DataFrame(unpack_team)
    
     
        
    salary_total = un_pack_pd[3].sum()
    
    point_total = un_pack_pd[2].sum()
    
    
    
 
    
    if (salary_total < 44000) or (salary_total > 50000):
        
        team_list.clear()
        
        return team_generator(qb, wr, rb, flex, te, defense)
        
        
    else:
        
        return point_total

    
    
point_total = team_generator(qb_arr, wr_arr, rb_arr, flex_arr, te_arr, def_array)




point_total

112.96

In [111]:
#function that generates 1000 different samples

def sample_generator(samples = 1000):

    sample_list = []
    
    
    
    for _ in range(samples):
        sample_list.append(team_generator(qb_arr, wr_arr, rb_arr, flex_arr, te_top_arr, def_array))
        
#     unpack_samples = list(chain.from_iterable(sample_list))
    
#     convert_to_pd = pd.DataFrame(unpack_samples)
    
#     convert_to_pd.columns = ['pos', 'name', 'fant_pos', 'salary', 'proj_point']
    
    salary_series = pd.Series(sample_list)
    
    return salary_series


teees = sample_generator(1000)


#team_samps, salary_list  = sample_generator(10)

teees

0      113.80
1      125.76
2      111.14
3       65.84
4       99.52
        ...
995     66.70
996    115.22
997    134.62
998    171.12
999    150.22
Length: 1000, dtype: float64

#creating different samples for each filter case on base pool

In [114]:
# base pool is where no players are filtered
base_pool = base
# print (base_pool.max())
# print (base_pool.std(), base_pool.mean())
# base_dist = stats.norm(107.73, 21.92)
print (base_pool.describe())


# # player pool is where qbs are filtered for only top 5
qb_samples = qbss
#print (qb_samples.max())
print (qb_samples.describe())

# #print (qb_samples.std(), qb_samples.mean())

# # player pool is where wrs are filtered for only top 5
wr_samples = wrrr
print (wr_samples.describe())

rb_samples = rrrr
print (rb_samples.describe())

te_samples = teees
print (te_samples.describe())

count    1000.000000
mean      111.788100
std        23.440647
min        47.720000
25%        95.060000
50%       110.810000
75%       127.020000
max       206.540000
dtype: float64
count    1000.000000
mean      107.715200
std        22.480617
min        47.820000
25%        92.020000
50%       107.580000
75%       121.365000
max       195.900000
dtype: float64
count    1000.000000
mean      111.597620
std        20.682371
min        55.860000
25%        97.055000
50%       110.910000
75%       125.925000
max       195.440000
dtype: float64
count    1000.000000
mean      120.530300
std        22.053455
min        65.360000
25%       104.670000
50%       119.930000
75%       135.840000
max       192.740000
dtype: float64
count    1000.000000
mean      118.452820
std        26.632082
min        45.520000
25%        99.720000
50%       117.050000
75%       135.805000
max       228.740000
dtype: float64